/* Colors and Fonts */

body { 
	background: #64638F ;
	color: #64638F ; 
	font-size: 17px ; 
}
h1, h2 { 
	font-family: 'Raleway', sans-serif;
}

p { 
	font-family: 'Montserrat', sans-serif;
}

li { 
	font-family:'Montserrat', sans-serif;
	}

a { 
   text-decoration: none;
   color: white;
   }

a: hover { 
  color: white;
  }

div { 
	margin : 30px;
	}

/*Custom design with class*/ 

.container { 
width: 850px; 
margin: 70px auto;
}

.card-white { 
background-color:#FFF0F8 ;  
padding: 20px;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0,3);
border-radius: 10px;
margin: 40px 0px;
text-align: center; 
}

.btn-purple { 
background-color: #64638F;
padding: 10px 15px; 
margin-top: 40px;
margin-bottom: 40px;
border-radius: 5px;
}
 
 .img-circle { 
 	border-radius: 50%;
}

.list-inline {
	list-style: none;
	padding: 0px;
}

.list-inline li {
	display: none;
	padding: 0px;
}

.list-inline i {
	font-size: 32px;
}



 











